<library path="src">
  <class name="ConnectionHandler" type="ConnectionHandler.ConnectionHandler"
         base_class_type="rqt_gui_py::Plugin">
    <description>
      A GUI to manage the connections with crazyflie drones
    </description>
    <qtgui>
      <group>
        <label>PSC</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to crazyflie drones connections.</statustip>
      </group>
      <label>Connection Handler</label>
      <icon type="theme">network-wireless</icon>
      <statustip>Allows establishing connection with crazyflie drones.</statustip>
    </qtgui>
  </class>
</library>
